.border-bottom-dash{
  border-bottom: 1px dashed;
}
.fw-500{
  font-weight: 500;
}
.w-160{
  width: 160px;
}
.container-sm{
  width: 856px;
}
.lh-12{
  line-height: 1.2;
}
.bg-action-secondary{
  background: #D7F4EC;
}