<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">更新密碼</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class=" mb-4">
          <input type="text" class="form-control form-control-lg fs-6" id="password" placeholder="name@example.com"
            value="新密碼">
        </div>
        <div class=" mb-4">
          <input type="text" class="form-control form-control-lg fs-6" id="password-again"
            placeholder="name@example.com" value="再次密碼">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">
          更新密碼
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>