<nav class="nav border-bottom border-primary-subtle">
  <div class="d-flex justify-content-between container align-items-center">
    <a href="../pages/index.html">
      <img class="logo" src="/assets/images/index/logo.png" alt="man talk">
    </a>
    <ul class="d-flex align-items-center list-unstyled mb-0">
      <li class="nav-item me-2">
        <a href="#">
          服務方案
        </a>
      </li>
      <li class="nav-item me-2">
        <a href="#">
          關於職旅
        </a>
      </li>
      <li class="nav-item">
        <a href="#">
          聯絡我們
        </a>
      </li>
    </ul>
    <a href="#">
      <div class="d-flex align-items-center ">
        <button type="button" class="btn border-primary-subtle rounded-4 px-5 py-2" data-bs-toggle="modal"
          data-bs-target="#log-modal" onclick="showModal('log')" id="log-init-btn">登入/註冊</button>
      </div>
    </a>
  </div>
</nav>


<!--log Modal -->
<%- include('./layout/log-reg-modal.ejs') %>
<script>
  const logModal = document.getElementById('log-part');
  const regModal = document.getElementById('reg-part');

  function showModal(type) {
    const show = type === "log" ? logModal : regModal;
    const hide = type === "log" ? regModal : logModal;

    show.style.display = 'flex';
    hide.style.display = 'none';
  }
</script>