<nav class="nav border-bottom border-primary-subtle">
  <div class="d-flex justify-content-between container">
    <a href="../pages/index.html">
      <img class="logo" src="/assets/images/index/logo.png" alt="man talk">
    </a>
    <ul class="d-flex align-items-center list-unstyled">
      <li class="nav-item me-2">
        <a href="#">
          服務方案
        </a>
      </li>
      <li class="nav-item me-2">
        <a href="#">
          關於職旅
        </a>
      </li>
      <li class="nav-item">
        <a href="#">
          聯絡我們
        </a>
      </li>
    </ul>
    <a href="#">
      <div class="d-flex align-items-center ">
        <img class="avatar me-2" src="/assets/images/index/Profile Image.png" alt="cat">
        <span>Mokumaru</span>
      </div>
    </a>
  </div>
</nav>