<nav class="navbar nav border-bottom border-primary-subtle">
  <div class="d-flex justify-content-between container-md mx-0 mx-md-auto w align-items-center">
    <a href="../pages/index.html">
      <img class="logo" src="/assets/images/index/logo.png" alt="man talk">
    </a>
    <ul class="d-md-flex  d-none align-items-center list-unstyled mb-0  ">
      <li class="nav-item me-2">
        <a href="../pages/service.html">
          服務方案
        </a>
      </li>
      <li class="nav-item me-2">
        <a href="../pages/about.html">
          關於職旅
        </a>
      </li>
      <li class="nav-item">
        <a href="../pages/contact-us.html">
          聯絡我們
        </a>
      </li>
    </ul>
    <div class="d-flex">
      <div class="d-flex align-items-center me-3">
        <button type="button" class="btn border-primary-subtle rounded-4 px-5 py-2" data-bs-toggle="modal"
          data-bs-target="#log-modal" onclick="showModal('log')" id="log-init-btn">登入/註冊</button>
      </div>

      <button class="navbar-toggler d-md-none border-0" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end w-100" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-6">
          <ul class="navbar-nav  flex-grow-1 pe-3">
            <li class="nav-item ">
              <a class="nav-link  text-center fs-7 mx-auto" aria-current="page" href="#">服務方案</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center fs-7 mx-auto" href="#">關於職旅</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center fs-7 mx-auto" href="#">聯絡我們</a>
            </li>
          </ul>

          <button class="btn btn-secondary w-100 fw-bold fs-5 lh-12">登入/註冊</button>
        </div>
      </div>


    </div>
</nav>


<!--log Modal -->
<%- include('./layout/log-reg-modal.ejs') %>
  <script>
    const logModal = document.getElementById('log-part');
    const regModal = document.getElementById('reg-part');

    function showModal(type) {
      const show = type === "log" ? logModal : regModal;
      const hide = type === "log" ? regModal : logModal;

      show.style.display = 'flex';
      hide.style.display = 'none';
    }
  </script>