<ul class="tab d-flex justify-content-center mb-6 list-unstyled">
  <li class="personal-item button me-4">
    <a href="../pages/personal-data.html">
      <i class="bi bi-person-circle"></i>
      <span>
        個人資料
      </span>
    </a>
  </li>
  <li class="booking-item  button me-4">
    <a href="./booking-record.html">
      <i class="bi bi-clipboard-check"></i>
      <span>
        預約紀錄
      </span>
    </a>
  </li>
  <li class="career-item button ">
    <a href="./career-plan.html">
      <i class="bi bi-journal-text "></i>
      <span>
        職旅計劃
      </span>
    </a>
  </li>
</ul>