.button {
  padding: 12px 20px;
  border: 1px solid #d1d9e1;
  border-radius: 16px;
  max-width: 120px;
  white-space: nowrap;
}
.nav {
  padding: 12px 0;
  .logo {
    width: 124px;
  }
  .nav-item {
    padding: 8px 24px;
  }
  .avatar {
    width: 44px;
  }
}
.footer {
  position: relative;
  &-item {
    padding: 8px 24px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px; /* 模擬 border-top 的高度 */
    width: 100%;
    background: linear-gradient(
      to right,
      rgb(206, 216, 224, 0),
      rgb(206, 216, 224),
      rgb(206, 216, 224, 0)
    );
    pointer-events: none; /* 不影響滑鼠事件 */
  }
}
.modal {
  margin-top: 180px;
  .log-img {
    width: 58.33333%;
  }
  .x-btn {
    right: 24px;
    top: 24px;
  }
  .log-in-modal {
    display: flex;
  }
  .reg-modal {
    display: none;
  }
}
.copyright {
  text-wrap: nowrap;
}
@media (max-width: 320px) {
  .copyright {
    text-wrap: wrap !important;
    //320px會有x軸
  }
}
@media (max-width: 768px) {
  .nav{
    .logo{
      width: 92px;
    }
  }
  .footer {
    &-item {
      padding: 8px 16px;
    }
  }

  .offcanvas-header {
    .btn-close {
      position: absolute;
      top: 39px;
      right: 39px;
    }
  }
  .navbar-nav {
    height: 652px;
  }
  .modal {
    margin-top: 0;
    border-radius: 0;
    .modal-content {
      border-radius: 0;
      height: 100vh;
    }
  }
}
