<!DOCTYPE html>
<html lang="en">

<%- include("./layout/head") %>

  <body>
    <%- include("./layout/nav") %>

      <header class="banner py-12 text-center position-relative">
        <img class="green-deco position-absolute top-0 end-0" src="../assets/images/service/banner-deco-1.png"
          alt="green decoration">
        <img class="gray-deco position-absolute bottom-0 start-0" src="../assets/images/service/banner-deco-2.png"
          alt="gray-decoration">
        <img src="../assets/images/service/banner-deco-3.png" class="woman-deco position-absolute"
          alt="Woman hanging from the window">
        <h1 class="fw-bold display-5 mb-9 lh-sm">關於職旅</h1>
        <p class="fs-6 text-secondary-emphasis mb-0">
          職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的<br>需求和階段，我們提供一對一諮詢。</p>
        <p class="fs-6 text-secondary-emphasis mb-0">無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。</p>
      </header>


      <section class="partner">
        <div class="container  text-center py-12 ">
          <h3 class="fs-2 mb-6 lh-12">精實的職旅夥伴</h3>
          <p class="text-secondary-emphasis fs-6 mb-9">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
        </div>

        <div class="swiper mySwiper mb-9">
          <div class=" swiper-wrapper">
            <div class="swiper-slide shadow  border-0 rounded-4 ">
              <img src="../assets/images/about/partner-1.png" class="" alt="partner-1">
              <div class="card-body p-4 text-start">
                <p class="fw-500 lh-12 mb-2 text-secondary-emphasis">數位遊牧先驅</p>
                <h5 class="card-title lh-12 fs-4 mb-4">陳志遠 Ethan Chen</h5>
                <div class="d-flex  buttons-box ">
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4  me-2 fs-8">
                    # 遠端工作策略
                  </button>
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4 fs-8 ">
                    # 數位遊牧生活設計
                  </button>
                </div>
              </div>
            </div>
            <div class="swiper-slide shadow  border-0 rounded-4 ">
              <img src="../assets/images/about/partner-2.png" class="" alt="partner-2">
              <div class="card-body p-4 text-start">
                <p class="fw-500 lh-12 mb-2 text-secondary-emphasis">個人品牌策略專家</p>
                <h5 class="card-title lh-12 fs-4 mb-4">林曉彤 Clara Lin</h5>
                <div class="d-flex  buttons-box flex-wrap gap-2">
                  <button type="button  "
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4 fs-8 ">
                    # 個人品牌建立
                  </button>
                  <button type="button "
                    class="btn border  text-secondary-emphasis border-primary-emphasis rounded-4 fs-8 ">
                    # 內容行銷策略
                  </button>
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4 fs-8 ">
                    # 故事行銷
                  </button>
                </div>
              </div>
            </div>
            <div class="swiper-slide shadow  border-0 rounded-4 ">
              <img src="../assets/images/about/partner-3.png" class="" alt="partner-3">
              <div class="card-body p-4 text-start">
                <p class="fw-500 lh-12 mb-2 text-secondary-emphasis">財務自由規劃顧問</p>
                <h5 class="card-title lh-12 fs-4 mb-4">王建明 Marcus</h5>
                <div class="d-flex  buttons-box flex-wrap gap-2">
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4   fs-8">
                    # 稅務優化
                  </button>
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4 fs-8 ">
                    # 被動收入建立
                  </button>
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4 fs-8 ">
                    # 現金流管理
                  </button>
                </div>
              </div>
            </div>
            <div class="swiper-slide shadow  border-0 rounded-4 ">
              <img src="../assets/images/about/partner-4.png" class="" alt="partner-4">
              <div class="card-body p-4 text-start">
                <p class="fw-500 lh-12 mb-2 text-secondary-emphasis">創意接案與多元收入專家</p>
                <h5 class="card-title lh-12 fs-4 mb-4">張雅琳 Ariel</h5>
                <div class="d-flex  buttons-box ">
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4  me-2 fs-8">
                    # 創意變現策略
                  </button>
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4 fs-8 ">
                    # 線上課程開發
                  </button>
                </div>
              </div>
            </div>
            <div class="swiper-slide shadow  border-0 rounded-4 ">
              <img src="../assets/images/about/partner-5.png" class="" alt="partner-5">
              <div class="card-body p-4 text-start">
                <p class="fw-500 lh-12 mb-2 text-secondary-emphasis">遠端工作技術顧問</p>
                <h5 class="card-title lh-12 fs-4 mb-4">李俊宏 Kevin Lee</h5>
                <div class="d-flex  buttons-box ">
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4  me-2 fs-8">
                    # 專案管理自動化
                  </button>
                  <button type="button"
                    class="btn border text-secondary-emphasis border-primary-emphasis rounded-4 fs-8 ">
                    # 虛擬團隊管理
                  </button>
                </div>
              </div>
            </div>


          </div>
        </div>
      </section>

      <section class="container bg-primary pt-6 pb-9 rounded-4 text-center mb-12">
        <img class="mx-auto mb-6" src="../assets/images/about/mark.png" alt="a hint">
        <p class="text-white mb-9">
          我們不只是顧問，更是你職業轉型路上的夥伴與同行者。我們深知轉型過程中的不確定與恐懼，也經歷過停滯不
          <br>
          前的困境。正因如此，我們更懂得如何陪你走過這段旅程，不只指引方向，更與你並肩同行。
        </p>
        <img class="mx-auto mb-4" src="../assets/images/about/word-1.png" alt="handwrting">
        <img class="mx-auto" src="../assets/images/about/word-2.png" alt="handwrting">
      </section>

      <section class="info-bg pt-12 bg-secondary-subtle">
      </section>

      <section>
        <div class="info container ">
          <h4 class="fs-2 fw-bold mb-9 text-center">公司資訊</h4>
          <div class="p-9 bg-white rounded-4 shadow mb-12">
            <table class="w-100 ">
              <tbody>
                <tr class="border-bottom">
                  <th scope="row" class="table-th p-6 text-secondary-emphasis fw-bold lh-12">公司位置</th>
                  <td class=" p-6 ps-0 fw-500 lh-12">110台北市信義區信義路五段7號</td>
                </tr>
                <tr class="border-bottom">
                  <th scope="row" class="table-th p-6 text-secondary-emphasis fw-bold lh-12">負責人</th>
                  <td class=" p-6 ps-0 fw-500 lh-12">張世明</td>
                </tr>
                <tr class="border-bottom">
                  <th scope="row" class="table-th p-6 text-secondary-emphasis fw-bold lh-12">聯絡專線</th>
                  <td class=" p-6 ps-0 fw-500 lh-12">週一至週五 10:00～18:00（國定假日休息）</td>
                </tr>
                <tr class="border-bottom">
                  <th scope="row" class="table-th p-6 text-secondary-emphasis fw-bold lh-12">電子郵件</th>
                  <td class=" p-6 ps-0 fw-500 lh-12">contact@workway.tw</td>
                </tr>
                <tr class="border-bottom">
                  <th scope="row" class="table-th p-6 text-secondary-emphasis fw-bold lh-12">成立時間</th>
                  <td class=" p-6 ps-0 fw-500 lh-12">2023 年 6 月</td>
                </tr>
                <tr class="border-bottom">
                  <th scope="row" class="table-th p-6 text-secondary-emphasis fw-bold lh-12">統一編號</th>
                  <td class=" p-6 ps-0 fw-500 lh-12">83149276</td>
                </tr>
                <tr class="border-bottom">
                  <th scope="row" class="table-th p-6 text-secondary-emphasis fw-bold lh-12">公司位置</th>
                  <td class=" p-6 ps-0 fw-500 lh-12">110台北市信義區信義路五段7號</td>
                </tr>
              </tbody>
            </table>
            <img src="../assets/images/about/map.png" alt="map">
          </div>
        </div>
      </section>





      <%- include("./layout/footer") %>




        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
          const swiper = new Swiper(".mySwiper", {
            breakpoints: {
              768: {
                slidesPerView: 4.725,
                spaceBetween: 24,
              }
              // (RWD設定部分)
            }
          });
        </script>

        <script type="module" src="../main.js"></script>
  </body>

</html>