<!DOCTYPE html>
<html lang="en">

<%- include("./layout/head") %>

  <body>
    <%- include("./layout/nav") %>
      <div class="bg-secondary-subtle">
        <main class="main ">
          <div class="container-md  position-relative">
            <img class="position-absolute smart-woman top-0" src="../assets/images/contact-us/smart-woman.png"
              alt="smart-woman">
            <h1 class="text-center fw-bold lh-12 fs-2 mb-6">聯絡我們</h1>
            <p class="text-center text-secondary-emphasis fs-6 mb-9">每一封郵件，我們都會親自回覆。每一通電話，都是新可能的開始。</p>
            <div class="career bg-white p-9 shadow rounded-4 ">
              <section class="career-identity d-flex mb-9">
                <div class="aside me-6">
                  <h2 class="fs-4 lh-12 mb-3 ">基本資料</h2>
                  <div class="d-flex align-items-center">
                    <span class="text-secondary-emphasis me-1">欄位皆為</span>
                    <span class="badge bg-danger fw-500 rounded-4">必填</span>
                  </div>
                </div>
                <div class="career-form w-100 ">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control w-100 mb-6" id="name" placeholder="name@example.com">
                    <label class="text-dark" for="name">姓名</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control w-100 " id="email" placeholder="name@example.com">
                    <label class="text-dark" for="email">信箱</label>
                    <p class="text-secondary-emphasis fs-8">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</p>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control w-100 " id="email" placeholder="name@example.com">
                    <label class="text-dark" for="email">聯絡電話</label>
                    <p class="text-secondary-emphasis fs-8 mb-6">我們不會以電話主動聯繫您，告知您要至ATM操作轉帳</p>
                  </div>

                  <div class="dropdown mb-9 ">
                    <button class="btn btn-lg border w-100 text-start d-flex justify-content-between p-3  "
                      type="button" id="dropdownIndustry" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="fs-7">
                        目前職業/工作身分
                      </span>
                      <i class="bi bi-chevron-down"></i>
                    </button>
                  </div>
              </section>

              <section class="career-identity d-flex mb-9">
                <div class="aside me-6">
                  <h2 class="fs-4 lh-12 mb-3 ">諮詢需求</h2>
                  <div class="d-flex align-items-center">
                    <span class="text-secondary-emphasis me-1">欄位皆為</span>
                    <span class="badge bg-danger fw-500 rounded-4">必填</span>
                  </div>
                </div>
                <div class="career-form w-100">

                  <h3 class="mb-2 fs-7 fw-normal">諮詢主題</h3>
                  <ul class="ps-0 mb-2">
                    <li class="mb-2 form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="unclear direction" value="problem1">
                      <label class="form-check-label" for="unclear direction">職涯探索與方向</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="skill improved" value="problem2">
                      <label class="form-check-label" for="skill improved">接案與技能變現</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="customer development" value="problem3">
                      <label class="form-check-label" for="customer development">接案與技能變現</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="time manage" value="problem4">
                      <label class="form-check-label" for="time manage">遠端工作與數位游牧</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="Work-life imbalance" value="problem5">
                      <label class="form-check-label" for="Work-life imbalance">收入與時間管理</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="human resources" value="problem6">
                      <label class="form-check-label" for="human resources">其他（請填寫下題）</label>
                    </li>
                  </ul>
                  <p class="text-secondary-emphasis fs-8 mb-6">可複選，讓我們更了解你的狀況，安排最適合的顧問與建議。</p>

                  <div class="dropdown mb-6 ">
                    <button class="btn btn-lg border w-100 text-start d-flex justify-content-between p-3  "
                      type="button" id="dropdownIndustry" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="fs-7">
                        期望諮詢的專家
                      </span>
                      <i class="bi bi-chevron-down"></i>
                    </button>
                  </div>

                  <div class="form-floating mb-6">
                    <textarea class="form-control career-summary" placeholder="Leave a comment here"
                      id="one year career"></textarea>
                    <label for="one year career" class="text-dark">
                      您目前面臨的主要挑戰
                    </label>
                  </div>

                  <div class="form-floating mb-9">
                    <textarea class="form-control career-summary" placeholder="Leave a comment here"
                      id="three year career"></textarea>
                    <label for="three year career" class="text-dark">
                      期望達成的目標
                    </label>
                  </div>
              </section>

              <section class="career-identity d-flex mb-9">
                <div class="aside me-6">
                  <h2 class="fs-4 lh-12 mb-3 ">聯絡偏好</h2>
                  <div class="d-flex align-items-center">
                    <span class="text-secondary-emphasis me-1">欄位皆為選填</span>

                  </div>
                </div>
                <div class="career-form w-100">

                  <h3 class="mb-2 fs-7 fw-normal">偏好聯絡方式</h3>
                  <ul class=" mb-6 ps-0">
                    <li class="form-check form-check-inline mb-2">
                      <input class="form-check-input" type="radio" name="identity" id="identity1" value="full-time- job"
                        checked>
                      <label class="form-check-label" for="identity1">
                        信箱
                      </label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="identity" id="identity2"
                        value="part-time- job">
                      <label class="form-check-label" for="identity2">
                        電話
                      </label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="identity" id="identity3" value="case-taker">
                      <label class="form-check-label" for="identity3">
                        LINE
                      </label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="identity" id="identity4"
                        value="digital- nomad">
                      <label class="form-check-label" for="identity4">
                        Discord
                      </label>
                    </li>
                  </ul>

                  <h3 class="mb-2 fs-7 fw-normal">偏好聯絡時段</h3>
                  <ul class="ps-0 mb-2">
                    <li class="mb-2 form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="unclear direction" value="problem1">
                      <label class="form-check-label" for="unclear direction">平日上午(9:00-12:00)</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="skill improved" value="problem2">
                      <label class="form-check-label" for="skill improved">平日下午(13:00-17:00)</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="customer development" value="problem3">
                      <label class="form-check-label" for="customer development">平日晚上(18:00-21:00)</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="time manage" value="problem4">
                      <label class="form-check-label" for="time manage">週末上午(9:00-12:00)</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="Work-life imbalance" value="problem5">
                      <label class="form-check-label" for="Work-life imbalance">週末下午(13:00-17:00)</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="human resources" value="problem6">
                      <label class="form-check-label" for="human resources">週末晚上(18:00-21:00)）</label>
                    </li>
                  </ul>
                  <p class="text-secondary-emphasis fs-8 mb-6">建議您可以勾選 2 個時段以上</p>

                  <div class="form-floating mb-3">
                    <input type="date" class="form-control w-100 mb-6" id="time" placeholder="name@example.com">
                    <label class="text-dark" for="time">預約諮詢時間</label>
                  </div>

                  <h3 class="mb-2 fs-7 fw-normal">如何得知我們</h3>
                  <ul class="ps-0 mb-2">
                    <li class="mb-2 form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="unclear direction" value="problem1">
                      <label class="form-check-label" for="unclear direction">Google 搜尋</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="skill improved" value="problem2">
                      <label class="form-check-label" for="skill improved">Instagram</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="customer development" value="problem3">
                      <label class="form-check-label" for="customer development">Facebook</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="time manage" value="problem4">
                      <label class="form-check-label" for="time manage">Threads</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="Work-life imbalance" value="problem5">
                      <label class="form-check-label" for="Work-life imbalance">YouTube</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="human resources" value="problem6">
                      <label class="form-check-label" for="human resources">Podcast / 節目推薦</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="human resources" value="problem6">
                      <label class="form-check-label" for="human resources">朋友或同事推薦</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="human resources" value="problem6">
                      <label class="form-check-label" for="human resources">曾參加職旅活動 / 工作坊</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="human resources" value="problem6">
                      <label class="form-check-label" for="human resources">職涯顧問介紹</label>
                    </li>
                    <li class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="human resources" value="problem6">
                      <label class="form-check-label" for="human resources">其他（請填寫下題）</label>
                    </li>
                  </ul>
                  <p class="text-secondary-emphasis fs-8 mb-6">最多勾選 3 個</p>

                  <div class="form-floating mb-6">
                    <textarea class="form-control career-summary" placeholder="Leave a comment here"
                      id="career-background"></textarea>
                    <label for="career-background" class="text-dark">
                      有什麼其他想告訴我們的事情嗎？（最多300字）
                    </label>
                  </div>
                  <div>
                    <input class="form-check-input" type="checkbox" id="unclear direction" value="problem1">
                    <label class="form-check-label mb-2" for="unclear direction">我願意接收職旅最新資訊和專業內容</label>
                  </div>
                  <div>
                    <input class="form-check-input" type="checkbox" id="unclear direction" value="problem1">
                    <label class="form-check-label mb-2" for="unclear direction">我同意<a
                        class="text-primary  text-decoration-underline" href="#">服務條款</a>和<a
                        class="text-primary  text-decoration-underline" href="#">隱私政策</a></label>
                  </div>


              </section>

              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-lg  fs-7 btn-outline-dark me-4 rounded-pill ">
                  重新填寫
                  <i class="bi bi-chevron-right"></i>
                </button>
                <button type="button" class="btn btn-dark btn-lg fs-7 rounded-pill">
                  確認送出
                  <i class="bi bi-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </main>
      </div>





      <%- include("./layout/footer-dashboard") %>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
          crossorigin="anonymous"></script>
        <script type="module" src="../main.js"></script>
  </body>

</html>