<!DOCTYPE html>
<html lang="en">

<%- include("./layout/head") %>

  <body>
    <%- include("./layout/nav") %>
      <header class="banner py-12 "
      
      >


      </header>
      <%- include("./layout/footer") %>



        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
          const swiper = new Swiper(".mySwiper", {
            breakpoints: {
              768: {
                slidesPerView: 2.77,
                spaceBetween: 24,
              }
              // (RWD設定部分)
            }
          });
        </script>

        <script type="module" src="../main.js"></script>
  </body>

</html>