<!DOCTYPE html>
<html lang="en">

<%- include("./layout/head") %>

  <body>
    <%- include("./layout/nav") %>
      <main class="py-12 bg-secondary-subtle">
        <div class="container-md">
          <h1 class="text-center lh-12 fs-2 fw-bold mb-9">用戶條款</h1>
          <p class="fs-6 mb-6">最後更新日期：2025 年 1 月 1 日</p>
          <p class="mb-6">
            歡迎使用職旅 WorkWay（以下簡稱「本平台」）。請詳細閱讀以下使用者條款，使用本平台即表示你同意本條款內容。
          </p>
          <h2 class="fs-5 fw-500 lh-12 mb-3">一、帳號註冊與義務</h2>

          <ul class="mb-6">
            <li>你必須提供真實、完整的註冊資料，並對帳號行為負責。</li>
            <li>不得冒用他人身份、或干擾他人使用本平台。</li>
          </ul>



          <h2 class="fs-5 fw-500 lh-12 mb-3">二、服務內容</h2>
          <p class="mb-0">
            本平台提供自由職涯相關服務，包括職涯諮詢、資源內容、顧問配對等功能。
            <br>
            我們保留變更、暫停、終止部分或全部服務的權利，恕不另行通知。
          </p>

          <h2 class="fs-5 fw-500 lh-12 mb-3">三、使用規範</h2>
          <p class="mb-0">
            你同意不從事以下行為：
          </p>
          <ul class="mb-6">
            <li>上傳任何不實、具侵權或誤導性的資訊</li>
            <li>干擾平台正常運作或其他使用者體驗</li>
            <li>濫用諮詢資源或未經授權對外公開諮詢內容</li>
            <li>從事與本平台業務無關之商業推廣</li>
          </ul>






          <h2 class="fs-5 fw-500 lh-12 mb-3">四、智慧財產權</h2>
          <p class="mb-6">
            本平台所呈現內容（包含但不限於文字、圖片、圖像設計、程式碼）均為職旅 WorkWay 或其授權方所擁有。未經同意禁止擅自轉載、複製或用於其他用途。
          </p>

          <h2 class="fs-5 fw-500 lh-12 mb-3">五、終止與限制使用</h2>
          <p class="mb-6">
            如使用者違反本條款或法律規定，我們有權暫停或終止服務，無須事前通知。
          </p>

          <h2 class="fs-5 fw-500 lh-12 mb-3">六、責任限制</h2>
          <p class="mb-6">
            本平台所提供資訊與建議僅供參考，並不構成法律、財務、醫療等專業意見。我們不對使用本服務後的職涯結果或第三方服務負完全責任。
          </p>

          <h2 class="fs-5 fw-500 lh-12 mb-3">七、準據法與爭議解決</h2>
          <p class="mb-0">
            本條款受中華民國法律管轄。如有爭議，雙方同意以台灣台北地方法院為第一審管轄法院。
          </p>
        </div>







      </main>
      <%- include("./layout/footer-dashboard") %>





        <script type="module" src="../main.js"></script>
  </body>

</html>